<div class="row">
	<div class="col-md-6">
		<div id="chartbar"></div>
	</div>
	<div class="col-md-6">
		<div id="chartContainer" ></div>
	</div>
</div>
<%= javascript_include_tag "admin/draw_charts" %>

