/*
*= require admin/sbadmin/font-awesome
*= require admin/sbadmin/bootstrap.min
*= require admin/datatables/dataTables.bootstrap
*= require admin/datatables/dataTables.responsive
*= require admin/sbadmin/sb-admin-2
*= require admin/sbadmin/metisMenu.min
*= require admin/sbadmin/morris
*= require admin/sbadmin/bootstrap-social

	

*/