body {
  font-size: 20px;
}
/*table, tr, td {
    font-size: 18px;
}*/

table.table-bordered{
    border:1.5px solid black;
  }
table.table-bordered thead  tr  th{
    border:2px solid black;
}
table.leftTable thead  tr  th{
    width:70%;
}
.search {
	display: none;
}
.actionSymbol {
	display: none;
}
.action {
	display: none;
}
.panel .panel-default{
  visibility: hidden;
}
.dataTable_wrapper {
  visibility: visible;
}
.no-print, .no-print *
    {
        display: none !important;
    }
.form-control {
  display: none !important;
}

.paginate_button {
  display: none !important;
}
.dataTables_info {
  display: none !important;
}
label {
  display: none !important;
}


/*table .table-bordered {
  font-size: 22px;
}*/


